{% extends "layout.html" %}
{% load i18n %}
{% block content %}
        <div id="page">
            <div class="row">
                <div class="col-md-7">
                    <div class="kblock">
                        <!--<h1>ABOUT-->
                            <!--<span>US</span>-->
                        <!--</h1>-->
                        {% for object in objects %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == "zh-cn" %}
                              {{ object.cn_title | safe }}
                              {{ object.cn_body | safe }}
                            {% else %}
                              {{ object.title | safe }}
                              {{ object.body | safe }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--{% include 'rightbox.html' %}-->
                <div class="col-md-3 col-md-offset-2">
                    <div class="kblock blk-bd">
                        <b>{% trans "To register so that we can find you a friend for free" %}, <a href="/register/">{% trans "click here" %}</a></b>
                        <img src="/static/img/auphoto.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
