{% extends "new_inline_email_base.html"%}
{% block content %}
<table>
{% for x in object %}
<tr>
    <td><p style="font-size:18px; font-weight:bold; color:#7b7b7b;text-decoration:none;">{{ x.0 }}:</p></td>
    <td><p style="color: #009dff;font-weight: bold;text-decoration: none">{{ x.1 }}</p></td>
</tr>
{% endfor %}
<tr>
    <td><p style="font-size:18px; font-weight:bold; color:#7b7b7b;text-decoration:none;">URL:</p></td>
    <td><a href="{{ url }}" style="color: #009dff;font-weight: bold;text-decoration: none">{{ url  }}</a></td>
</tr>

</table>
{% endblock %}
