{% extends "layout.html" %}
{% load i18n %}
{% block content %}
        <div id="page">
            <div class="row">
                <div class="col-md-7">
                    <div class="kblock">
                      <h1>{% trans "TELL US" %}
                            <span>{% trans "YOUR STORY" %}</span>
                        </h1>

                        {{ form.errors }}
                        <form class="form-horizontal" action="" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Content" %}</label>
                                <div class="col-sm-9">
                                    <textarea name="content" class="form-control" rows="5">{{ form.content.value | default_if_none:"" }}</textarea>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Pinyin Name" %}</label>
                                <div class="col-sm-9">
                                    <input type="text" name=pinyin_name
                                    value="{{ form.pinyin_name.value | default_if_none:"" }}"
                                    class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "English Name" %}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                    value="{{ form.en_name.value | default_if_none:"" }}"
                                    name="en_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Your Email" %}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                    value="{{ form.email.value | default_if_none:"" }}"
                                    name="email" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-6">
                                  <button type="SUBMIT" name="button" class="btn btn-primary btn-block">{% trans "SUBMIT" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <div class="kblock blk-bd">
                        <b>
                          {% trans "How was your experience connecting to the friend we introduced you to? Has your friend been helpful? Tell us about it." %}
                        </b>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block modal %}
{% include 'modal.html' %}
{% endblock %}
