{% extends "layout.html" %}
{% block content %}
  <div id="page">
            <div class="imgbox">
                <a href="/culture/" class="cl001"><img src="{% if objects.1 %}{{objects.1}}{% else %}/static/img/cl001.png{% endif %}" alt="" /></a>
                <a href="https://www.surveymonkey.com/results/SM-PGJ5H5FD/" class="cl002"><img src="{% if objects.2 %}{{objects.2}}{% else %}/static/img/cl002.png{% endif %}" alt="" /></a>
                <a href="/qanda/" class="cl003"><img src="{% if objects.3 %}{{objects.3}}{% else %}/static/img/cl003.png{% endif %}" alt="" /></a>
                <a href="/skills/" class="cl004"><img src="{% if objects.4 %}{{objects.4}}{% else %}/static/img/cl004.png{% endif %}" alt="" /></a>
                <a href="/register/" class="ar001"><img src="{% if objects.5 %}{{objects.5}}{% else %}/static/img/ar001.png{% endif %}" alt="" /></a>
                <a href="/register/" class="ar002"><img src="{% if objects.8 %}{{objects.8}}{% else %}/static/img/ar002.png{% endif %}" alt="" /></a>
                <a href="/register/" class="ar003"><img src="{% if objects.6 %}{{objects.6}}{% else %}/static/img/ar003.png{% endif %}" alt="" /></a>
                <a href="/register/" class="ar004"><img src="{% if objects.7 %}{{objects.7}}{% else %}/static/img/ar004.png{% endif %}" alt="" /></a>
                <a href="/register/" class="indexbtna"><img src="{% if objects.9 %}{{objects.9 }}{% else %}/static/img/indexbtna.png{% endif %}" alt="" /></a>
                <!-- <a href="register.html">
                    <img src="img/indexbtn.png" alt="" />
                </a> -->
            </div>
        </div>
{% endblock %}
