{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global Connections</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {% for meta in metas %}
    <meta name="{{ meta.name }}" content="{{ meta.content }}">
    {% endfor %}
</head>

<body>
<div style="display:none;"><img src="/static/img/ic_icon_300.png"></div>
{% for message in messages %}
<div class="alert alert-info" role="alert" style="text-align:center;"><span>{{ message }}</span></div>
{% endfor %}
    <div class="container" id="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="/static/img/logo.png">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="{% if action = 'index' %}active{% endif %}"><a href="/">{% trans "Home" %}</a></li>
                      <li class="{% if action = 'aboutus' %}active{% endif %}"><a href="/aboutus/">{% trans "About us" %}</a></li>
                      <li class="{% if action = 'qanda' %}active{% endif %}"><a href="/qanda/">{% trans "Q & A" %}</a></li>
                      <li class="{% if action = 'culture' %}active{% endif %}"><a href="/culture/">{% trans "American culture" %}</a></li>
                      <li class="{% if action = 'skills' %}active{% endif %}"><a href="/skills/">{% trans "English skills" %}</a></li>
                      <li><a target="_blank" href="https://www.surveymonkey.com/results/SM-PGJ5H5FD/">{% trans "Survey Results" %}</a></li>
                      <li class="{% if action = 'testimonials' %}active{% endif %}"><a href="/testimonials/">{% trans "Testimonials" %}</a></li>
                      <li class="{% if action = 'contactus' %}active{% endif %}"><a href="/contactus/">{% trans "Contact us" %}</a></li>
                    </ul>
                </div>
                {% get_current_language as LANGUAGE_CODE %}
                <a class="language {% if LANGUAGE_CODE == "zh-cn" %}active{% endif %}" data-language-code="zh-cn" href="javascript:void(0);">中文</a><span>/</span>
                <a class="language {% if LANGUAGE_CODE == "en" %}active{% endif %}" data-language-code="en" href="javascript:void(0);">English</a>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        {% block content %}{% endblock %}
        <footer id="footer">
            <div class="footer">
                <div class="pull-left">
                    <img src="/static/img/feedback.png" alt="" />&nbsp;&nbsp;
                    <a href="/feedback/"><b>{% trans "Feedback" %}</b></a> &nbsp;&nbsp;|&nbsp;&nbsp;
                    <span>{% trans "Please tell us about your experience with your new friend！" %}</span>
                </div>
                <div class="pull-right">
                    © 2015 global connections
                </div>
            </div>
        </footer>
    </div>
  {% block modal %}
  {% endblock %}
</body>
<script type="text/javascript">
$(".language").on("click", function(e){
    var language = $(e.target).data("language-code");
    document.cookie = "django_language="+language+";path=/";
    window.location.reload();
});
setTimeout(function(){
    $(".alert-info").remove();
    }, 5000);
</script>
<script type="text/javascript">
{% if result %}
  $("#tips-modal").modal();
{% endif %}
</script>

</html>
