{% load i18n %}
<div class="modal fade in" id="tips-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="/">{% trans 'Back to Home' %}</a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% trans 'Thank you for responding. We will get back to you as soon as possible.' %}
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
