<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="width: 100% !important;background-color: #ececec;margin: 0;padding: 0;font-family: Microsoft YaHei, Hiragino Sans GB, STHeiti,HelveticaNeue, sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ececec">
	  <tr height="30" style="border-collapse: collapse;"></tr>
	  <tr>
		<td>
          <table align="center" style="background:#ffffff;" width="640" cellpadding="0" cellspacing="0" border="0">
			<tr style="border-collapse: collapse;background-color:#009dff;">
			  <td style="border-collapse: collapse;">
			    <table width="30" height="50" style="background-color:#009dff;border-collapse: collapse;"></table>
			  </td>
			  <td style="border-collapse: collapse;">
			    <table width="580" height="50" style="background-color:#009dff;border-collapse: collapse;">
				  <tr style="border-collapse: collapse;">
				    <td style="font-size:20px;font-weight:bold;color:#ffffff;font-family: Microsoft YaHei, Hiragino Sans GB, STHeiti,HelveticaNeue, sans-serif;border-collapse: collapse;">
					  <a href="http://www.global-connections.org/" style="text-decoration:none; color:#ffffff;" target="_blank">Global Connections</a>
					</td>
				  </tr>
				</table>
			  </td>
			  <td style="border-collapse: collapse;">
			    <table width="30" height="50" style="background-color:#009dff;border-collapse: collapse;"></table>
			  </td>
			</tr>
			<tr height="30" style="border-collapse: collapse;"></tr>
		    <tr style="border-collapse: collapse;">
		      <td width="30" style="border-collapse: collapse;"></td>
		      <td bgcolor="#ffffff" style="border-collapse: collapse;">
			  {% block content %}
			  
			  

		      {% endblock %}
			  </td>
			  <td width="30" style="border-collapse: collapse;"></td>
		    </tr>
		    <tr height="30" style="border-collapse: collapse;"></tr>
		  
		    <tr height="1" style="border-collapse: collapse;">
			  <td>
			    <table width="100%" style="border-top: 1px solid #DADADA;"></table>
			  </td>
			  <td>
			    <table width="100%" style="border-top: 1px solid #DADADA;"></table>
			  </td>
			  <td>
			    <table width="100%" style="border-top: 1px solid #DADADA;"></table>
			  </td>
			</tr>
			<tr height="14" style="border-collapse: collapse;"></tr>
		  
		    <tr style="border-top: 1px solid #DADADA;">
			  <td width="30" style="border-collapse: collapse;"></td>
              <td valign="top" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif;">
				<a href="http://www.global-connections.org/" style="text-decoration:none;color: #b3b3b3;font-size: 11px;" target="_blank">Global Connections</a>
              </td>
            </tr>
		    <tr height="15" style="border-collapse: collapse;"></tr>
		  </table>
		</td>
	  </tr>
	  <tr height="30" style="height:30px;"></tr>
    </table>
  </body>
</html>
