{% extends "layout.html" %}
{% load i18n %}
{% block content %}
        <div id="page">
            <div class="row">
                <div class="col-md-7">
                    <div class="kblock">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% for object in objects %}
                            {% if LANGUAGE_CODE == "zh-cn" %}
                                {% if object.cn_title %}
                                    {{ object.cn_title | safe }}
                                {% else %}
                                    {{ object.title | safe }}
                                {% endif %}
                                {% if object.cn_body %}
                                    {{ object.cn_body | safe }}
                                {% else %}
                                    {{ object.body | safe }}
                                {% endif %}
                            {% else %}
                                {{ object.title | safe }}
                                {{ object.body | safe }}
                            {% endif %}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% include 'rightbox.html' %}
                <!--<div class="col-md-3 col-md-offset-2">-->
                    <!--<div class="kblock blk-bd">-->
                        <!--<img src="/static/img/qaphoto.png" alt="" />-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
</body>

</html>
{% endblock %}
