{% extends "layout.html" %}
{% load i18n %}
{% block content %}
        <div id="page">
            <div class="row">
                <div class="col-md-9">
                    <div class="kblock">
                        <h1>{% trans "Would you like us to find and <span>introduce a friend to you in the city of</span> your U.S. university?" %}</h1>

                        {{ form.errors }}
                        <form class="form-horizontal" action="" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <h3>
                                        {% trans "REGISTER FOR FREE" %}
                                    </h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Chinese Name" %}</label>
                                <div class="col-sm-4">
                                    <input type="text" name="cn_name" placeholder="{% trans "in Chinese" %}"
                                    value="{{ form.cn_name.value | default_if_none:"" }}"
                                    class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Pinyin Name" %}</label>
                                <div class="col-sm-4">
                                    <input type="text" name="pinyin_name" placeholder="{% trans "in Pinyin" %}"
                                    value="{{ form.pinyin_name.value | default_if_none:"" }}"
                                    class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "English Name" %}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "in English" %}"
                                    value="{{ form.en_name.value | default_if_none:"" }}"
                                    name="en_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Age" %}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "Your Age" %}"
                                    value="{{ form.age.value | default_if_none:"" }}"
                                    name="age">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "City" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "you are from" %}"
                                    value="{{ form.city.value | default_if_none:"" }}"
                                    name="city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "University" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "you will be attending" %}"
                                    value="{{ form.university.value | default_if_none:"" }}"
                                    name="university">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "US city" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "you are going to" %}"
                                    value="{{ form.us_city.value | default_if_none:"" }}"
                                    name="us_city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Date" %}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "You will go to went to America" %}"
                                    value="{{ form.went_date.value | default_if_none:"" }}"
                                    name="went_date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Your Email" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "Your Email " %}"
                                    value="{{ form.email.value | default_if_none:"" }}"
                                    name="email" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Wechat" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "Wechat address" %}"
                                    value="{{ form.wechat.value | default_if_none:"" }}"
                                    name="wechat" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Phone number" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "Your Phone Number" %}"
                                    value="{{ form.phone.value | default_if_none:"" }}"
                                    name="phone" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans "Others" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="{% trans "Other contact info" %}"
                                    value="{{ form.others.value | default_if_none:"" }}"
                                    name="others" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button type="submit" name="button" class="btn btn-primary btn-block">{% trans "SUBMIT" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block modal %}
{% include 'modal.html' %}
{% endblock %}
