{% load i18n %}
                <div class="col-md-3 col-md-offset-2">
                    <div class="kblock blk-bd">
                      <b>{% trans "To register so that we can find you a friend for free" %}, <a href="/register/">{% trans "click here" %}</a></b>
                    </div>
                </div>
