{% extends "layout.html" %}
{% load i18n %}
{% block content %}
        <div id="page">
            <div class="row">
                <div class="col-md-7">
                    <div class="kblock">
                        {% for object in objects %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == "zh-cn" %}
                                {% if object.cn_title %}
                                    {{ object.cn_title | safe }}
                                {% else %}
                                    {{ object.title | safe }}
                                {% endif %}
                                {% if object.cn_body %}
                                    {{ object.cn_body | safe }}
                                {% else %}
                                    {{ object.body | safe }}
                                {% endif %}
                            {% else %}
                              {{ object.title | safe }}
                              {{ object.body | safe }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% include 'rightbox.html' %}
            </div>
        </div>
{% endblock %}
