{% extends "layout.html" %}
{% load i18n %}
{% block content %}

        <div id="page">
            <div class="row">
                <div class="col-md-7">
                    <div class="kblock">
                      <h1>{% trans "What are Scott and <span>Marion’s friends saying</span> about them." %}
                        </h1>
                        {% for x in objects %}
                        <div class="row tms">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% for object in x %}
                            <div class="col-sm-3">
                                {% if object.img %}
                                    <img src="{{ object.img.url }}" alt="" />
                                {% endif %}
                                {% if LANGUAGE_CODE == "zh-cn" %}
                                <div class="tm-name bg-c-1">
                                  {% if object.cn_name %}
                                    {{ object.cn_name | safe }}
                                  {% else %}
                                    {{ object.name | safe }}
                                  {% endif %}
                                </div>
                                <div class="tm-info">
                                  {% if object.cn_body %}
                                    {{ object.cn_body | safe }}
                                  {% else %}
                                    {{ object.body | safe }}
                                  {% endif %}
                                </div>
                                {% else %}
                                  <div class="tm-name bg-c-1">
                                      {{ object.name | safe }}
                                  </div>
                                  <div class="tm-info">
                                      {{ object.body | safe }}
                                  </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'rightbox.html' %}
                <!--<div class="col-md-3 col-md-offset-2">-->
                    <!--<div class="kblock blk-bd">-->
                        <!--<h2>TESTIMONIALS</h2>-->
                        <!--<div class="text-center">-->
                            <!--<img src="/static/img/s-good.png" alt="" class="icon" />-->
                            <!--<img src="/static/img/s-bad.png" alt="" class="icon" />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>

{% endblock %}
