body {
    color: #323a3e;
}
a:link, a:visited {
    text-decoration: none;
    color: #86ba4b
}
a:hover, a:active {
    text-decoration: none;
    color: #86ba4b
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
#page {
    margin: 0 auto;
    padding-bottom: 60px;
    /*等于footer的高度*/
}
#footer {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 100%;
    height: 60px;
}
.navbar {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid transparent;
    border-left: 0;
    border-radius: 0;
}
.navbar-default {
    border-color: #526573;
    background-color: #fff;
}
.navbar-brand {
    height: 38px;
    margin: 55px 0 23px;
    padding: 0;
}
.navbar-nav {
    float: left;
    margin-top: 50px;
    margin-left: 45px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #86ba4b;
}
.navbar-default .navbar-nav > li > a {
    color: #323a3e;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #ececec;
}
.kblock h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.kblock h1 span {
    color: #86ba4b;
}
.kblock ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.kblock li {
    line-height: 26px;
    text-indent: 26px;
    padding-left: 0;
    background: url('../img/listdot.png') 0 6px no-repeat;
    background-size: 14px;
}
.kblock li ul li {
    background: url('../img/listdot2.png') 26px 6px no-repeat;
    text-indent: 26px;
    padding-left: 26px;
}
.kblock hr {
    border-top-color: #a9a9a9;
    margin: 40px 0;
}
.kblock.blk-bd {
    padding: 10px;
    border: 1px solid #323a3e;
    margin-top: 26px;
}
.kblock.blk-bd h2 {
    font-size: 14px;
    margin: 2px 0 24px 0;
}
.kblock.blk-bd img {
    width: 100%;
}
.kblock .form-group h3 {
    color: #86ba4b;
    font-size: 16px;
}
.kblock .form-group {
    margin-bottom: 10px;
}
.kblock .btn.btn-primary {
    background: #86ba4b;
    border-color: #86ba4b;
}
.kblock.blk-bd img.icon {
    width: auto;
}
.tms .col-sm-3 img {
    width: 100%;
}
.tms .col-sm-3 .tm-name {
    height: 60px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
}
.tms .col-sm-3 .tm-info {
    margin-top: 18px;
}
.bg-c-1 {
    background: #526573;
}
.bg-c-2 {
    background: #eb6127;
}
.bg-c-3 {
    background: #32d2e1;
}
.bg-c-4 {
    background: #1d82ad;
}
.imgbox {
    position: relative;
    width: 885px;
    height: 770px;
    margin: 0 auto;
}
.cl001, .cl002, .cl003, .cl004, .ar001, .ar002, .ar003, .ar004, .indexbtna {
    position: absolute;
}
.ar001, .ar002, .ar003, .ar004, .indexbtna {
    z-index: 99;
}
.cl001, .cl002, .cl003, .cl004 {
    z-index: 1;
}
.cl001 {
    left: 0;
    top: 85px;
}
.cl002 {
    top: 25px;
    right: 117px;
}
.cl003 {
    top: 570px;
    left: 100px;
}
.cl004 {
    top: 530px;
    right: 0;
}
.ar001 {
    top: 100px;
    left: 270px;
}
.ar002 {
    top: 235px;
    left: 95px;
}
.ar003 {
    right: 85px;
    top: 235px;
}
.ar004 {
    top: 459px;
    left: 299px;
}
.indexbtna {
    top: 330px;
    left: 326px;
}
#footer .footer {
    overflow: hidden;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    border-top: 1px solid #526573;
    margin-right: 30px;
}
.language.active{
  color: #fff;
  background-color: #86ba4b;
}
